.table_sub_title {
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--table);
  width: 14rem;
  height: 2.3rem;
  border: 1px solid var(--table);
  display: flex;
  align-items: center;
  justify-content: center;
}
